@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500..800&display=swap");
:root {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background: hsl(0, 0%, 100%);
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(0, 0%, 100%);
}
body h1 {
  color: white;
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

#root {
  max-width: 1280px;
  width: 100%;
  text-align: center;
}

.gradient {
  background-image: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(250, 97%, 65%) 8%, hsl(248, 94%, 63%) 17%, hsl(247, 91%, 61%) 25%, hsl(245, 88%, 58%) 33%, hsl(243, 85%, 56%) 42%, hsl(241, 81%, 54%) 50%, hsl(243, 79%, 53%) 58%, hsl(246, 78%, 51%) 67%, hsl(249, 76%, 50%) 75%, hsl(251, 75%, 49%) 83%, hsl(253, 74%, 47%) 92%, hsl(256, 72%, 46%) 100%);
}

.reaction {
  color: hsl(0, 100%, 67%);
  background-color: rgba(255, 86.7, 86.7, 0.09);
}

.verbal {
  color: hsl(166, 100%, 37%);
  background-color: rgba(0, 188.7, 144.67, 0.09);
}

.memory {
  color: hsl(39, 100%, 56%);
  background-color: rgba(255, 176.46, 30.6, 0.09);
}

.visual {
  color: hsl(234, 85%, 45%);
  background-color: rgba(17.2125, 36.72, 212.2875, 0.09);
}

.card {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  width: 100%;
}

.card > * {
  flex-basis: 100%;
}

.result {
  border-radius: 0 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c8c7ff;
  padding: 2rem 1.5rem;
  box-shadow: 20px 20px 60px #c8cdd9, -20px -20px 60px #ffffff;
}
.result span {
  font-size: 1rem;
  font-weight: 700;
}
.result .result__scorebox {
  width: 8rem;
  aspect-ratio: 1;
  padding: 0.25rem;
  border-radius: 100%;
  margin: 1.5rem 0;
  background-image: linear-gradient(180deg, hsl(241, 72%, 46%) 0%, hsl(241, 72%, 47%) 9%, hsl(241, 71%, 47%) 18%, hsl(241, 71%, 48%) 28%, hsl(241, 71%, 49%) 37%, hsl(241, 71%, 49%) 47%, hsl(241, 70%, 50%) 56%, hsl(241, 72%, 51%) 65%, hsl(241, 74%, 51%) 73%, hsl(241, 76%, 52%) 81%, hsl(241, 77%, 53%) 88%, hsl(241, 79%, 53%) 94%, hsl(241, 81%, 54%) 100%);
}
.result .result__scorebox .result__score {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1.5rem;
  color: hsl(0, 0%, 100%);
}
.result .result__scorebox p {
  margin-top: 0;
  font-size: 1rem;
  line-height: 1rem;
}
.result h2 {
  color: #ebf1ff;
  margin: 0;
}
.result p {
  margin-top: 10px;
  font-size: 0.85rem;
  line-height: 1.5;
}

.btn {
  color: hsl(0, 0%, 100%);
  border-radius: 40px;
  border: none;
  width: 100%;
  padding: 1rem 4.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #303b5a;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(250, 97%, 65%) 8%, hsl(248, 94%, 63%) 17%, hsl(247, 91%, 61%) 25%, hsl(245, 88%, 58%) 33%, hsl(243, 85%, 56%) 42%, hsl(241, 81%, 54%) 50%, hsl(243, 79%, 53%) 58%, hsl(246, 78%, 51%) 67%, hsl(249, 76%, 50%) 75%, hsl(251, 75%, 49%) 83%, hsl(253, 74%, 47%) 92%, hsl(256, 72%, 46%) 100%);
}

button:focus,
button:focus-visible {
  outline: 4px solid #c8c7ff;
}

.tablets {
  text-align: left;
  padding: 1.5rem;
  width: 100%;
}
.tablets h3 {
  margin: 0;
}

.tablet__container {
  margin: 1.5rem 0;
}

.tablet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
.tablet .tablet__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.tablet .tablet__info img {
  width: 1rem;
}
.tablet .tablet__scorebox {
  color: rgba(48, 59, 90, 0.5);
}
.tablet .tablet__scorebox .tablet__score {
  color: #303b5a;
}

.tablet + .tablet {
  margin-top: 0.75rem;
}

@media (min-width: 768px) {
  body {
    place-items: center;
    background-color: #c8c7ff;
    background-image: linear-gradient(180deg, hsl(222, 100%, 96%) 0%, hsl(223, 100%, 95%) 8%, hsl(224, 100%, 95%) 17%, hsl(225, 100%, 94%) 25%, hsl(226, 100%, 93%) 33%, hsl(228, 100%, 92%) 42%, hsl(229, 100%, 92%) 50%, hsl(231, 100%, 91%) 58%, hsl(233, 100%, 91%) 67%, hsl(235, 100%, 90%) 75%, hsl(237, 100%, 90%) 83%, hsl(239, 100%, 90%) 92%, hsl(241, 100%, 89%) 100%);
  }
  #root {
    margin: auto;
  }
  .btn {
    padding: 0.55rem 4.2em;
    font-size: 0.65rem;
  }
  .card {
    border-radius: 1rem;
    flex-direction: row;
    max-width: 506px;
    align-items: stretch;
    margin: 0 auto;
    box-shadow: 20px 20px 60px #aaa9d9, -20px -20px 60px 60px #e6e5ff;
  }
  .result {
    border-radius: 1rem;
  }
  .result .result__scorebox {
    width: 6rem;
  }
  .result .result__scorebox .result__score {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .result .result__scorebox p {
    font-size: 0.65rem;
    line-height: 2;
  }
  .result p {
    font-size: 0.65rem;
  }
  .tablets {
    width: 504px;
  }
  .tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.65rem;
  }
  .tablet .tablet__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .tablet .tablet__info img {
    width: 0.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
