@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500..800&display=swap');

// ### Primary 
$Light-red: hsl(0, 100%, 67%);
$Orangey-yellow: hsl(39, 100%, 56%);
$Green-teal: hsl(166, 100%, 37%);
$Cobalt-blue: hsl(234, 85%, 45%);
// ## Gradients
$Light-slate-blue: #7857ff;
$Light-royal-blue: #2e2be9;
$Violet-blue: #4e21ca;
$Persian-blue: #2421ca00;
// ### Neutral
$White: hsl(0, 0%, 100%);
$Pale-blue: #ebf1ff;
$Light-lavender: #c8c7ff;
$Dark-gray-blue: #303b5a;

:root {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  background: $White;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: $White;

  h1 {
    color: white;
    text-align: center;
    font-size: 3.2em;
    line-height: 1.1;
  }
}

#root {
  max-width: 1280px;
  width: 100%;
  text-align: center;
}

.gradient {
  background-image: linear-gradient(180deg,
      hsl(252deg 100% 67%) 0%,
      hsl(250deg 97% 65%) 8%,
      hsl(248deg 94% 63%) 17%,
      hsl(247deg 91% 61%) 25%,
      hsl(245deg 88% 58%) 33%,
      hsl(243deg 85% 56%) 42%,
      hsl(241deg 81% 54%) 50%,
      hsl(243deg 79% 53%) 58%,
      hsl(246deg 78% 51%) 67%,
      hsl(249deg 76% 50%) 75%,
      hsl(251deg 75% 49%) 83%,
      hsl(253deg 74% 47%) 92%,
      hsl(256deg 72% 46%) 100%);
}

@mixin theme($theme: $Light-red) {
  color: $theme;
  background-color: rgba($theme, 0.09);
}

.reaction {
  @include theme()
}

.verbal {
  @include theme($Green-teal)
}

.memory {
  @include theme($Orangey-yellow)
}

.visual {
  @include theme($Cobalt-blue)
}

.card {
  background-color: $White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  width: 100%;
}

.card > * {
  flex-basis: 100%;
}

// RESULT COMPONENT
.result {
  border-radius: 0 0 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $Light-lavender;
  padding: 2rem 1.5rem;
  box-shadow: 20px 20px 60px #c8cdd9, -20px -20px 60px #ffffff;

  span {
    font-size: 1rem;
    font-weight: 700;
  }

  .result__scorebox {
    width: 8rem;
    aspect-ratio: 1;
    padding: 0.25rem;
    border-radius: 100%;
    margin: 1.5rem 0;
    background-image: linear-gradient(180deg,
      hsl(241deg 72% 46%) 0%,
      hsl(241deg 72% 47%) 9%,
      hsl(241deg 71% 47%) 18%,
      hsl(241deg 71% 48%) 28%,
      hsl(241deg 71% 49%) 37%,
      hsl(241deg 71% 49%) 47%,
      hsl(241deg 70% 50%) 56%,
      hsl(241deg 72% 51%) 65%,
      hsl(241deg 74% 51%) 73%,
      hsl(241deg 76% 52%) 81%,
      hsl(241deg 77% 53%) 88%,
      hsl(241deg 79% 53%) 94%,
      hsl(241deg 81% 54%) 100%);

    .result__score {
      font-size: 4rem;
      font-weight: 700;
      margin-top: 1.5rem;
      color: $White;
    }

    p {
      margin-top: 0;
      font-size: 1rem;
      line-height: 1rem;
    }
  }

  h2 {
    color: $Pale-blue;
    margin: 0;
  }

  p {
    margin-top: 10px;
    font-size: 0.85rem;
    line-height: 1.5;
  }
}

// BUTTON COMPONENT
.btn {
  color: $White;
  border-radius: 40px;
  border: none;
  width: 100%;
  padding: 1rem 4.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: $Dark-gray-blue;
  cursor: pointer;
}

button:hover {
  background-image: linear-gradient(180deg,
  hsl(252deg 100% 67%) 0%,
  hsl(250deg 97% 65%) 8%,
  hsl(248deg 94% 63%) 17%,
  hsl(247deg 91% 61%) 25%,
  hsl(245deg 88% 58%) 33%,
  hsl(243deg 85% 56%) 42%,
  hsl(241deg 81% 54%) 50%,
  hsl(243deg 79% 53%) 58%,
  hsl(246deg 78% 51%) 67%,
  hsl(249deg 76% 50%) 75%,
  hsl(251deg 75% 49%) 83%,
  hsl(253deg 74% 47%) 92%,
  hsl(256deg 72% 46%) 100%);
}

button:focus,
button:focus-visible {
  outline: 4px solid $Light-lavender;
}

// SUMMARY COMPONENT
.tablets {
  text-align: left;
  padding: 1.5rem;
  width: 100%;

  h3 {
    margin: 0;
  }
}

.tablet__container {
  margin: 1.5rem 0;
}

  // TABLET COMPONENT
.tablet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;

  .tablet__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    img {
      width: 1rem;
    }
  }

  .tablet__scorebox {
    color: rgba($Dark-gray-blue, 0.5);

    .tablet__score {
      color: $Dark-gray-blue;
    }
  }
}

.tablet + .tablet {
  margin-top: 0.75rem;
}

@media (min-width: 768px) {
  body {
    place-items: center;
    background-color: $Light-lavender;
    background-image: linear-gradient(180deg,
          hsl(222deg 100% 96%) 0%,
          hsl(223deg 100% 95%) 8%,
          hsl(224deg 100% 95%) 17%,
          hsl(225deg 100% 94%) 25%,
          hsl(226deg 100% 93%) 33%,
          hsl(228deg 100% 92%) 42%,
          hsl(229deg 100% 92%) 50%,
          hsl(231deg 100% 91%) 58%,
          hsl(233deg 100% 91%) 67%,
          hsl(235deg 100% 90%) 75%,
          hsl(237deg 100% 90%) 83%,
          hsl(239deg 100% 90%) 92%,
          hsl(241deg 100% 89%) 100%);
  }

  #root {
    margin: auto;
  }

  .btn {
    padding: 0.55rem 4.2em;
    font-size: 0.65rem;
  }

  .card {
    border-radius: 1rem;
    flex-direction: row;
    max-width: 506px;
    align-items: stretch;
    margin: 0 auto;
    box-shadow: 20px 20px 60px #aaa9d9, -20px -20px 60px 60px #e6e5ff;
  }

  .result {
    border-radius: 1rem;
    box-shadow: none;

    .result__scorebox {
      width: 6rem;

      .result__score {
        font-size: 2rem;
        margin-top: 1.5rem;
      }

      p {
        font-size: 0.65rem;
        line-height: 2;
      }
    }

    p {
      font-size: 0.65rem;
    }
  }

  .tablets {
    width: 504px;
  }

  .tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.65rem;

    .tablet__info {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      img {
        width: 0.75rem;
      }
    }
  }
}
